<% provide(:title, 'Home')%>
<% provide(:pTitle, 'ŻÓŁTY KLASER')%>
<div class="center">
<% if !signed_in? %>
  <h1>Zaloguj się !</h1>

  <%= link_to "Logowanie", signin_path, class: "btn btn-large btn-primary" %>
</div>
<br>
<br>
<br>
<div>

<%if !Group.all.empty?%>
<h2>Dołącz do firmy: . . . . 
  <%= link_to "dołącz", signup_path, class: "btn" %>
</h2>
<% end %>
<br>

<h2>Lub utwórz nową: . . .
  <%= link_to "utwórz", new_group_path, class: "btn" %>
</h2>

</div>

<% elsif signed_in? %>
<h1><%= current_group.name%></h1>
</br>
<div class="row">
<div class="span2 offset1">
  <ul>
<%= link_to "nowe zamówienie", create_new_order_path, class: "btn btn-large btn-menu"%><br><br>
<%= link_to "Lista zamówień", client_index_path, class: "btn btn-large btn-menu"%><br><br>
<%= link_to "__koryto___", "#", class: "btn btn-large btn-menu"%><br><br>
  </ul>
</div>

<div class="span4 offset4"><h2>Ostatnie zamówienia</h2></div>
</div>
<% else %>
something is wrong
<% end %>
