<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>
<h2><%= new_user_group.name %></h2>
<div class="row">
  <div class="span6 offset3">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages' %>

      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation %>

<%= f.label :group_id, "Firma" %>
<%= f.select :group_id, options_from_collection_for_select(Group.all, 'id', 'name') %>

<%= f.label :group_password, "autoryzacja firmy"%>
<%= f.password_field :group_password%>

      <%= f.submit "Create my account", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>
